<div class="page">
    <div class="page-inner">
      <div class="body">
        <div class="logo-container">
          <a routerLink="/">
            <img
              src="/assets/logo/logo2.svg"
              alt="SAW Logo White"
              class="logo"
            />
          </a>
        </div>

        <div class="content-section">
          <div class="form-section">

            <h5 class="saw-heading-5 fw-700 header-text">Verify Your Email</h5>

            <p class="saw-caption subheader-text mb-3">
                Check your mail for the verification link
            </p>

            <p class="saw-para-1 fw-600 text-center mb-1">
                {{ email }}
            </p>

            <p class="saw-para-1 fw-600 text-center mb-0">
                <span class="saw-text-primary">Resend Link</span> 1:50
            </p>

          </div>
        </div>
      </div>

    </div>
</div>