::ng-deep .notice-dialog {
    width: 38.5rem !important;
    max-width: 95vw !important;
  
    #notice {
      .notice-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: end;
        gap: 1.25rem;
        margin-bottom: 1.25rem;
        border-bottom: 0.0625rem solid var(--saw-neutral-100);
        padding-bottom: 1.25rem;

        p {
            margin-right: 5rem;
        }
      }
  
      .cta-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0.625rem;
        margin-top: 1.25rem;
      }
    }
  }
  