@use '../abstracts/theme' as *;

.saw-badge {
  height: 1rem;
  min-width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.1875rem 0.5rem;
  border-radius: 0.25rem;

  .saw-caption {
    color: var(--saw-white);
  }

  &.error {
    color: var(--saw-white) !important;
    background: var(--saw-error);
  }

  &.success {
    color: var(--saw-white) !important;
    background: var(--saw-success);
  }

  &.warning {
    color: var(--saw-white) !important;
    background: var(--saw-warning);
  }

  &.info {
    color: var(--saw-white) !important;
    background: var(--saw-info);
  }

  &.neutral {
    background-color: var(--saw-neutral-100);
    color: var(--saw-neutral);
  }

  &.primary {
    background-color: var(--saw-primary-color-100);
    color: var(--saw-primary-color);
  }
}

.saw-badge-rounded {
  height: 1.2rem;
  min-width: 1.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.2rem;
  text-align: center;
  font-size: 0.825rem;

  &.primary {
    background-color: var(--saw-primary-color);
    color: var(--saw-white);
  }

  &.neutral {
    background-color: var(--saw-neutral-100);
    color: var(--saw-neutral);
  }
}

// .status {
//   cursor: pointer;
//   font-size: 0.75rem;
//   font-weight: 400;
//   border-radius: 0.3125rem;
//   padding: 0.3rem 1rem;
//   line-height: 2rem;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;

//   .warning {
//     background-color: var(--saw-warning-50);
//     color: var(--saw-warning);
//   }

//   .inactive {
//     background-color: var(--saw-neutral-100);
//     color: var(--saw-neutral);
//   }

//   .primary {
//     background-color: var(--saw-primary-color-100);
//     color: var(--saw-primary-color);
//   }

//   .failed {
//     background-color: var(--saw-error-50);
//     color: var(--saw-error);
//   }

//   .active {
//     background-color: var(--saw-primary-color-100);
//     color: var(--saw-primary-color);
//   }
// }
