<section id="forgot-password">
  <div class="page">
    <div class="page-inner">
      <div class="body">
        <div class="logo-container">
          <a routerLink="/">
            <img
              src="/assets/logo/logo2.svg"
              alt="SAW Logo White"
              class="logo"
            />
          </a>
        </div>

        <div class="content-section">
          <div class="form-section">

            <h5 class="saw-heading-5 fw-700 header-text">Let’s Recover Your Account</h5>

            <p class="saw-caption subheader-text">
              We will send you a password reset link.
            </p>

            <div class="input-style1 input-md">
              <mat-label class="input-label">Email</mat-label>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <input
                  #email
                  type="email"
                  inputmode="email"
                  matInput
                  [formControl]="emailControl"
                  (input)="
                    emailControl.patchValue(email.value.replaceAll(' ', ''))
                  "
                />
                <mat-error *ngIf="emailControl.hasError('required')">
                  <img
                    src="/assets/icons/error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />
                  Please enter your email
                </mat-error>

                <mat-error *ngIf="emailControl.hasError('email')">
                  <img
                    src="/assets/icons/error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />
                  Sorry, this is not a valid email
                </mat-error>
              </mat-form-field>
            </div>

            <button
              matRipple
              class="btn saw-btn-primary saw-btn-lg saw-btn-full reset-btn"
              (click)="onSubmit()"
              [disabled]="emailControl.invalid"
            >
              Send Me A Link
            </button>

            <div class="d-flex justify-content-center mt-3">
              <p class="saw-para-2">Already have an account? 
                <span 
                  [routerLink]="['/login']" 
                  class="saw-para-2 fw-600 saw-text-primary saw-pointer"
                >Sign In</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
