@use '@angular/material' as mat;

@use '../abstracts/colors' as *;

@include mat.core();

/****************************** Default Palette *****************************/

$Saw-default-theme-primary: mat.define-palette(
  $mat-saw-default-theme-primary-map,
  500
);
$Saw-default-theme-accent: mat.define-palette(
  $mat-saw-default-theme-accent-map,
  500
);
$Saw-default-theme-warn: mat.define-palette(
  $mat-saw-default-theme-warn-map,
  500
);

/****************************************************************************/

/****************************** Webapp Palette ******************************/

$Saw-theme1-primary: mat.define-palette($mat-saw-theme1-primary-map, 500);

$Saw-theme1-accent: mat.define-palette($mat-saw-theme1-accent-map, 500);

$Saw-warn: mat.define-palette($mat-saw-warn-map, 500);

/****************************************************************************/

$Saw-typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif',
);

/********************************** Default *********************************/

$Saw-default-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $Saw-default-theme-primary,
      accent: $Saw-default-theme-accent,
      warn: $Saw-default-theme-warn,
    ),
    typography: $Saw-typography,
  )
);

$Saw-default-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $Saw-default-theme-primary,
      accent: $Saw-default-theme-accent,
      warn: $Saw-default-theme-warn,
    ),
    typography: $Saw-typography,
  )
);

/****************************************************************************/

/********************************** Webapp **********************************/
$Saw-theme1-light: mat.define-light-theme(
  (
    color: (
      primary: $Saw-theme1-primary,
      accent: $Saw-theme1-accent,
      warn: $Saw-warn,
    ),
    typography: $Saw-typography,
  )
);

$Saw-theme1-dark: mat.define-dark-theme(
  (
    color: (
      primary: $Saw-theme1-primary,
      accent: $Saw-theme1-accent,
      warn: $Saw-warn,
    ),
    typography: $Saw-typography,
  )
);

/****************************************************************************/

/* This will disable the style duplication warning */
mat.$theme-ignore-duplication-warnings: true;
/***************************************************/

/********************************** Default *********************************/

.saw-default-theme {
  // &.light {
  @include mat.all-component-themes($Saw-default-theme-light);
  // }

  // &.dark {
  //   @include mat.all-component-themes($Saw-theme1-dark);
  // }
}

/****************************************************************************/

/********************************** Webapp **********************************/

.theme1 {
  // &.light {
  @include mat.all-component-themes($Saw-theme1-light);
  // }

  // &.dark {
  //   @include mat.all-component-themes($Saw-theme1-dark);
  // }
}

// @include angular-material-typography($Saw-typography);

/****************************************************************************/
