<div id="table-loader">
  <div class="ph-item">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-12 mt-0"></div>
        <div class="ph-col-12 mt-0"></div>
        <div class="ph-col-12 mt-0"></div>
        <div class="ph-col-12 mt-0"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-4 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-2 round"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-4 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-2 round"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-4 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-2 round"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-4 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-2 round"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-4 round"></div>
        <div class="ph-col-2 empty"></div>
        <div class="ph-col-2 round"></div>
      </div>
    </div>
  </div>
</div>
