@use '../../../@partials/abstracts/media-query' as *;

#profile {
    .profile-card {
        border-radius: 1rem;
        background: var(--saw-white);
        box-shadow: 0px 4px 10px 0px #36474d0d;
        padding: 1.5rem;

        &-header {
            position: relative;
            color: var(--saw-white);
            display: flex;
            margin-bottom: 3rem;
            padding: 0.875rem 0.75rem;
            background: url('../../../../assets/backgrounds/setting-bg.svg') center center no-repeat;
            border-radius: 0.875rem;
            z-index: 3;

            &::before {
                content: '';
                 position: absolute;
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 border-radius: 0.875rem;
                 background-color: rgba(0, 0, 0, 0.025);
                 z-index: 0; 
             }
    
            @include saw-media-query-max(saw-md) {
                padding: 1rem 1.5rem;
            }
    
            .avatar {
                width: 5rem;
                height: 5rem;
                background-color: var(--saw-neutral-50);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
    
                img {
                    width: 50%;
                }
            }
    
            .detail {
                margin: auto 0;
    
                p {
                    color: var(--saw-neutral-700);
                    margin-bottom: 0;
                }
            }
        }
    }
}