<section class="wrapper">
   <div class="wrapper-content">
    <div class="row m-0">
        <div class="left_wrapper col-md-4 d-none d-md-block">
            <div class="container">
                <div class="logo">
                    <img src="/assets/logo/logo.svg" alt="Saw White" class="logo" />
                </div>
                
                <div class="welcome">
                  <h1 class="saw-heading-2 saw-text-primary fw-600">Welcome Back!</h1>
                  <p class="saw-para-2">Login to your account to see your shipment updates</p>
                </div>
                
                <div class="illustration">
                    <img src="/assets/logo/logo2.svg" alt="Saw White" class="logo" />
                </div>
              </div>
        </div>
        
        <div class="col-md-8">
            <div class="right_wrapper d-md-flex justify-content-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
   </div>
</section>