@use '../../../@partials/abstracts/media-query' as *;

.navbar-toggler {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

  .nav-icon {
    z-index: 10;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bar1 {
      width: 1.25rem;
      height: 0.125rem;
      margin: 0.25rem 0;
      transition: 0.4s;
      background-color: var(--saw-primary-color);
      border-radius: 0.625rem;
    }

    .bar2 {
      width: 30px;
      height: 0.125rem;
      margin: 0.25rem 0;
      transition: 0.4s;
      background-color: var(--saw-primary-color);
      border-radius: 0.625rem;
    }

    .bar3 {
      width: 1.25rem;
      height: 0.125rem;
      margin: 0.25rem 0;
      transition: 0.4s;
      background-color: var(--saw-primary-color);
      border-radius: 0.625rem;
    }

    &.open {
      .bar3 {
        transform: rotate(45deg) translate(-9px, 12px);
      }

      .bar2 {
        display: none;
      }

      .bar1 {
        transform: rotate(-45deg) translate(-19px, -3px);
      }
    }
  }
}
