<ng-container
  *ngIf="(isLoading | async) !== true && dataSource; else loadingTable"
>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="trackingId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TRACKING ID</th>
        <td mat-cell *matCellDef="let row">
          {{ row.trackingId ?? '--' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="courier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>COURIER</th>
        <td mat-cell *matCellDef="let row">
          <span class="copy_wrapper">
            <app-svg
              src="assets/icons/{{row.courierIcon}}.svg"
              *ngIf="row.courierIcon"
            ></app-svg>
  
            {{ row.courier || 'Not Selected' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</th>
        <td mat-cell *matCellDef="let row">
          {{ row.category ?? '--' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SHIPPING DATE</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.date | date) ?? '--' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DESTINATION</th>
        <td mat-cell *matCellDef="let row">
          <span class="copy_wrapper">
            <app-svg
              src="assets/icons/nigeria-flag.svg"
            ></app-svg>
  
            {{ row.destination }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>WEIGHT</th>
        <td mat-cell *matCellDef="let row">
          {{ row.weight ?? '--' }}kg
        </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>COST</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.cost | currency) ?? '--' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          <div class="d-flex">
            <span
              class="status"
              sawStatus
              [colorStatus]="row?.status"
              matRipple
            >
              {{ row?.status }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
        <td mat-cell 
          *matCellDef="let row"
        >
          <div class="table-cta-container">
            <app-svg
              (click)="$event.stopPropagation()"
              class="saw-pointer"
              matRipple
              src="assets/icons/table/more.svg"
            ></app-svg>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="goToSurvey(row._id)"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Recent surveys will appear here</td>
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #loadingTable>
  <app-table-loader></app-table-loader>
</ng-template>
