@use '../../../../@partials/abstracts/media-query' as *;

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--saw-white);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 0.0625rem solid var(--saw-neutral-250);
  border-radius: 0 0 0.75rem 0.75rem;
  max-height: 5.5rem;

  .navbar-sidebar-toggler-section {
    margin-top: 2rem;
  }

  nav {
    height: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    overflow-x: auto;
    overflow-y: hidden;

    @include saw-media-query-max(saw-xsm) {
      padding: 1.5rem 1rem 1rem 0.5rem;
    }
  }

}